body{
	font-size: 12px;
	background-color: #c6c68c;
	padding: 0px;
	font-family: Helvetica,sans-serif;
}
#container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0;
	width: 780px;
	background-color: #F6F6F6;
	border: 1px solid #000;
}
#header{
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	height: 80px;
	background-color: #E8F3FD;
	border-bottom: 1px solid #000;
	font-size: 16px;
    font-weight: bold;
}
#title{
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
	height: 10px;
	background-color: #E8F3FD;
	border-bottom: 1px solid #000;
	font-style: italic;
}
#left{
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin:6px 0 4px 2px;
	padding: 5px;
	width: 530px;
}
#right{
	float: right;
	margin-left: auto;
	margin-right: auto;
	margin: 6px 0 4px 2px;
	padding: 5px;
    width: 200px;
}
#blog_entry{
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 10px;
	border: 1px solid #000;
	background-color:#FFF;
}
#blog_title{
	border-bottom: 1px solid #000;
	background-color: #E8ECDB;
	margin:0px;
	padding: 4px;
	font-weight: bold;
	font-size: 13px;
}
#blog_body{
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	padding: 6px;
}
#blog_date{
margin-left: auto;
margin-right: auto;
padding: 0 0 8px 0;
font-size: 10px;
}
#sidebar{
	margin-left: auto;
	margin-right: auto;
	border:1px solid #000;
	width:180px;
	background-color: #FFF; 
}
#menu_title{
	border-bottom: 1px solid #000;
	background-color: #E8ECDB;
	margin: 0px;
	padding: 4px;
	height: 10px;
	font-weight: bold;
}
#menu_body{
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	padding: 6px;
}
#footer{
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	height: 10px;
	background-color: #E8F3FD;
	border-top: 1px solid #000; 
}
#addt{
	font-size: 15px;
	float: right;
	font-family: 楷体;
	background-color: #bdf30e;
	box-shadow: 3px 4px #8a4040;
	margin-right: 10px;
}